<nav class="navbar">

  <div class="nav-container">

    <div class="brand">
      <div class="brand-icon">JG</div>

      <div>
        <h2>JobGraph</h2>
        <span>Career Intelligence</span>
      </div>
    </div>

    <div class="nav-links">

      <a routerLink="/dashboard"
         routerLinkActive="active">
        Dashboard
      </a>

      <a routerLink="/candidates"
         routerLinkActive="active">
        Candidates
      </a>

      <a routerLink="/jobs"
         routerLinkActive="active">
        Jobs
      </a>

      <a routerLink="/recommendations"
         routerLinkActive="active">
        Recommendations
      </a>

      <a routerLink="/skill-gap"
         routerLinkActive="active">
        Skill Gap
      </a>

      <a routerLink="/courses"
         routerLinkActive="active">
        Courses
      </a>

    </div>

  </div>

</nav>

<main>
  <router-outlet></router-outlet>
</main>